body {
    background-color: red;
    color: gold;
    text-shadow: -2px -2px brown;
}

#title {
    display: flex;
    flex: 1;

    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Nova Script';
    font-size: 80px;
    font-weight: bold;
}

#controls {
    display: flex;
    flex: 1;
    flex-direction: row;

}

#grid {   
    border: 5px solid rgb(180, 0, 0);
    border-style: ridge;
    border-radius: 10px;
}

#row {
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
}


#pixel {
    height: 30px;
    width: 30px;
    max-width: 20;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(223, 223, 223);
    text-align: center;
    transition: ease-out
    
}

#pixel:hover {
    background-color: rgb(180, 180, 180);
    transition: ease-out;
}

#wheels {
    display: flex;
    flex: 1;
    flex-direction: row;

    justify-content: space-between;
}

#wheels > * {
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
}

